@import 'mediawiki.skin.variables.less';

.ext-campaignevents-events-list-pager-details {
	> *:not( :last-child ) {
		margin-bottom: 0.5em;
	}

	&& > h4 {
		// Remove top margin and padding set by skins (needs high specificity)
		margin-top: 0;
	}
}

.ext-campaignevents-eventslist-pager-icon {
	opacity: @opacity-icon-subtle;
}

.ext-campaignevents-eventslist-pager-bottom {
	display: flex;
	flex-wrap: wrap;

	// Add vertical gaps when wrapping. Only works on modern browsers.
	// Add space between elements (T364606)
	gap: 0.5em @spacing-300;

	// Prevent overflows with long usernames (T363864)
	overflow-wrap: anywhere;

	> div:not( :last-child ) {
		// Alternative for `gap` when on a single row.
		// Support: IE11, Chrome and Edge < 84, FF < 63, Safari < 14.1, iOS < 14.5 and others
		padding-right: 10px;
	}
}

.ext-campaignevents-events-list-pager-row {
	margin-left: 25px;
	display: flex;

	&:not( :first-child ) {
		margin-top: @spacing-125;
	}

	> .ext-campaignevents-events-list-pager-day {
		font-size: 2em;
		flex: 0 0 1.5em;
		margin-right: @spacing-125;
	}
}

.mw-index-pager-list-header {
	font-size: 1.2em;
}

ul.mw-contributions-list.mw-contributions-list {
	// Remove any left margin or padding set by the skin on ul elements (needs high specificity)
	margin-left: 0;
	padding-left: 0;
}

.ext-campaignevents-events-list-pager-link {
	font-size: 1.1em;
	overflow-wrap: anywhere;
}
