@import 'mediawiki.skin.variables.less';

.ext-campaignevents-userlink-hidden {
	color: @color-subtle;
	font-style: italic;
}

.ext-campaignevents-userlink-deleted {
	color: @color-subtle;
	font-style: italic;
}
