.ext-campaignevents-textwithicon-widget {
	position: relative; /* This helps with the positioning of icons, which use absolute positioning */

	.oo-ui-iconElement-icon {
		// Align icons to the start of the text.
		background-position-y: top;
	}
}

.ext-campaignevents-textwithicon-widget-content {
	margin-left: 2em;
	display: block;
}
