@import 'mediawiki.skin.variables.less';

// Allow breaking long usernames and article titles, but don't break right after the icon
.ext-campaignevents-contributions-table {
	td.cdx-table-pager__col--username,
	td.cdx-table-pager__col--article {
		white-space: nowrap;

		a {
			overflow-wrap: anywhere;
			white-space: normal;
		}
	}
}

/* Remove parentheses added by mediawiki.special.changeslist around byte deltas */
.ext-campaignevents-contributions-table .mw-diff-bytes::before,
.ext-campaignevents-contributions-table .mw-diff-bytes::after {
	content: '';
}

// contribution summary styles
.ext-campaignevents-eventdetails-contributions-summary {
	display: flex;
	gap: @spacing-50;
	margin: @spacing-100 0;
	// Do not let cards wrap so they don't take up too much vertical space.
	flex-wrap: nowrap;
	white-space: nowrap;
	overflow-x: auto;

	// Make Codex cards inside the container flex to fill the row
	> .cdx-card {
		flex: 1 1 auto;
	}

	// Remove parentheses added by mediawiki.special.changeslist around byte/link deltas in summary cards
	.mw-diff-bytes::before,
	.mw-diff-bytes::after {
		content: '';
	}
}

// Codex CSS icon for server-rendered delete contribution button
.ext-campaignevents-delete-contribution-btn {
	.cdx-button__icon.cdx-css-icon.cdx-css-icon--trash {
		.cdx-mixin-css-icon( @cdx-icon-trash );
	}
}
// TODO: Remove this when T347205 is fixed
.ext-campaignevents-eventdetails-add-contribution-dialog {
	.cdx-dialog__body {
		.cdx-message {
			padding-top: @spacing-75;
		}
	}
}
