@import 'mediawiki.skin.variables.less';

.ext-campaignevents-invitations-pager-chip--success {
	.cdx-mixin-css-icon( @cdx-icon-success, @color-success, @size-icon-small );
}

.ext-campaignevents-invitations-pager-chip--warning {
	.cdx-mixin-css-icon( @cdx-icon-alert, @color-warning, @size-icon-small );
}

.ext-campaignevents-invitations-pager-chip--notice {
	.cdx-mixin-css-icon( @cdx-icon-info-filled, @color-notice, @size-icon-small );
}

.ext-campaignevents-invitations-pager-row {
	border-bottom: 1px solid @border-color-base;
	padding: @spacing-100 0;
}

.ext-campaignevents-invitations-pager-link {
	font-weight: @font-weight-bold;
	padding: 0 0 @spacing-75 0;
}
