@import 'mediawiki.skin.variables.less';
@import 'mediawiki.mixins.less';

.ext-campaignevents-detailsdialog-header {
	border-bottom: unset;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0.4em;
	font-size: 170%;
	word-break: break-word;
}

.ext-campaignevents-detailsdialog-organizers {
	margin-bottom: 1em;
}

.ext-campaignevents-detailsdialog-body-container {
	.flex-display();
	justify-content: space-between;
	flex-wrap: wrap;
	// Set a row gap for when the flex elements wrap (i.e., small screens). Note that is not supported
	// by all grade C browsers. In those, the elements will be closer together, but that's hopefully
	// just a minor visual glitch that can be tolerated.
	row-gap: 2em;

	> * {
		// Make both columns have the same width, but wrap them if they would shrink too much.
		flex-basis: 0;
		flex-grow: 1;
		// TODO 20em may exceed the container width on very small screens. Unfortunately, there
		// seems to be no way to limit that to 100% without using clamp() or min() (both of which
		// are not supported by all grade C browsers).
		min-width: 20em;
	}
}

.ext-campaignevents-detailsdialog-eventinfo-container {
	.flex-display();
	flex-direction: column;

	> *:not( :last-child ) {
		// This is equivalent to using gap: 2em.
		// Support: IE11, Chrome and Edge < 84, FF < 63, Safari < 14.1, iOS < 14.5 and others
		margin-bottom: 2em;
	}
}

.ext-campaignevents-detailsdialog-participants-list {
	margin-left: 0;

	li {
		padding: 0.2em 0;
		margin-bottom: 0;
		// The lock icon's height is 1.42857143em (20px with normal font size). Make that the minimum
		// height of every element for consistency. This is harmless if no participant is private
		// (and therefore there are no icons).
		min-height: 1.42857143em;

		> *:first-child {
			vertical-align: middle;
		}
	}
}

.ext-campaignevents-event-details-participants-private-icon {
	margin-left: 0.5em;
	opacity: @opacity-icon-subtle;
}

.ext-campaignevents-eventpage-detailsdialog {
	#ext-campaignEvents-detailsDialog-content { // stylelint-disable-line selector-max-id
		display: unset;
	}

	.oo-ui-window-foot {
		padding: 1em;
		.flex-display();
		justify-content: space-between;
		align-items: center;
	}
}

.ext-campaignevents-eventpage-detailsdialog-section-header {
	font-size: 100%;
	color: @color-subtle;
	margin: 0 0 0.5em 0;
	padding: 0;

	> span {
		vertical-align: middle;
	}

	.ext-campaignevents-eventpage-detailsdialog-section-icon {
		opacity: @opacity-icon-subtle;
		margin-right: 1em;
	}
}

.ext-campaignevents-eventpage-detailsdialog-section-content {
	margin-left: 2.5em;

	a {
		overflow-wrap: anywhere;
	}
}

.ext-campaignevents-eventpage-details-address {
	white-space: pre-wrap;
	.hyphens(); /* Break long words if necessary */
}

.ext-campaignevents-eventpage-detailsdialog-location-header {
	color: @color-subtle;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

.ext-campaignevents-detailsdialog-private-participants-footer {
	.oo-ui-iconElement-icon {
		opacity: @opacity-icon-subtle;
	}

	.ext-campaignevents-detailsdialog-private-participants-footer-text {
		margin-left: 0.5em;
		vertical-align: middle;
		color: @color-subtle;
	}
}
