@import 'mediawiki.skin.variables.less';

.ext-campaignevents-registration-dialog {
	.ext-campaignevents-policy-message-panel {
		background-color: @background-color-neutral-subtle;
		color: @color-base;
		font-size: 85%;
	}

	.ext-campaignevents-registration-visibility-toggle-field {
		.oo-ui-labelElement-label {
			color: @color-base;
			font-weight: bold;
		}

		&.oo-ui-fieldLayout > div.oo-ui-fieldLayout-body > span.oo-ui-fieldLayout-header {
			flex-grow: 0.1;
		}
	}

	.ext-campaignevents-registration-visibility-label {
		margin: 0 1em;
		display: flex;
		color: @color-subtle;
		font-weight: normal;

		.oo-ui-iconElement {
			margin: 0 1em;
		}
	}
	@dropdownQuestionWidth: 28em;

	.ext-campaignevents-dropdown-question {
		width: @dropdownQuestionWidth;
		max-width: 100%;
	}

	.ext-campaignevents-question-other-option {
		margin-top: 0.1em;
		@otherOptionIndent: 1em;
		width: calc( @dropdownQuestionWidth - @otherOptionIndent );
		margin-left: @otherOptionIndent;
		max-width: calc( 100% - @otherOptionIndent );
	}

	.ext-campaignevents-registration-retention-label {
		color: @color-subtle;
	}
}
