@import 'mediawiki.skin.variables.less';

.ext-campaignevents-registration-dialog {
	.ext-campaignevents-policy-message-panel {
		// TODO: Use a Codex token for this as soon as available.
		background-color: #f8f9fa;
		color: @color-base;
		font-size: 85%;
	}

	.ext-campaignevents-registration-ack-fieldset {
		color: @color-base;
		font-weight: bold;

		.ext-campaignevents-registration-visibility-toggle-field.oo-ui-labelElement.oo-ui-fieldLayout-align-left > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header {
			flex-grow: 0.1;
		}
	}

	.ext-campaignevents-registration-type-panel {
		margin: 1em;
		display: flex;
		flex-direction: row;

		.ext-campaignevents-registration-visibility-helptext {
			color: @color-subtle;
			margin-top: 0.2em;
		}

		.oo-ui-iconElement {
			margin: 0 1em;
		}
	}
}
