<details class="cdx-accordion" {{#isopen}} open {{/isopen}}>
	<summary>
		<h3 class="cdx-accordion__header">
			<span class="cdx-accordion__header__title">{{title}}</span>
			<span class="cdx-accordion__header__description">{{description}}</span>
		</h3>
	</summary>
	<div class="cdx-accordion__content {{cssclass}}">
			{{{content}}}
	</div>
</details>
