<span class="cdx-card {{Classes}}">
  <span class="cdx-card__icon cdx-css-icon--{{IconClass}}"></span>
  <span class="cdx-card__text">
    <span class="cdx-card__text__title">{{Title}}</span>
    <span class="cdx-card__text__description">{{Description}}</span>
    <span class="cdx-card__text__supporting-text">{{Text}}</span>
  </span>
</span>
