<div class="cdx-card cdx-card--is-clickable">
	<div class="cdx-card__text">
		<div class="cdx-card__text__title">
			<span class="mw-plusminus-pos mw-diff-bytes">+{{positiveValue}}</span>{{separator}}<span class="mw-plusminus-neg mw-diff-bytes">{{negativeValue}}</span>
		</div>
		<div class="cdx-card__text__description">{{label}}</div>
	</div>
</div>