<button
  class="cdx-button cdx-button--icon-only
  cdx-button--weight-quiet
  cdx-button--action-destructive
  ext-campaignevents-delete-contribution-btn"
  type="button"
  title="{{tooltip}}"
  aria-label="{{tooltip}}"
  data-contrib-id="{{contribId}}"
>
  <span class="cdx-button__icon cdx-css-icon cdx-css-icon--trash"></span>
</button>
