<div class="ext-campaignevents-eventdetails-contributions-summary">
	{{#participantsCard}}
		{{> Card}}
	{{/participantsCard}}
	{{#wikisEditedCard}}
		{{> Card}}
	{{/wikisEditedCard}}
	{{#articlesCreatedCard}}
		{{> Card}}
	{{/articlesCreatedCard}}
	{{#articlesEditedCard}}
		{{> Card}}
	{{/articlesEditedCard}}
	{{#bytesChangedCard}}
		{{> Card}}
	{{/bytesChangedCard}}
	{{#linksChangedCard}}
		{{> Card}}
	{{/linksChangedCard}}
</div>
