{{{noUsersWarning}}}

{{#highlyRecommendedAccordion.content}}
	{{#highlyRecommendedAccordion}}
		{{> Accordion}}
	{{/highlyRecommendedAccordion}}
{{/highlyRecommendedAccordion.content}}

{{#recommendedAccordion.content}}
	{{#recommendedAccordion}}
		{{> Accordion}}
	{{/recommendedAccordion}}
{{/recommendedAccordion.content}}

{{#worklistAccordion}}
	{{> Accordion}}
{{/worklistAccordion}}
