<!-- Root element with layout and type classes, and additional attribute(s). -->
<div
	class="cdx-message cdx-message--{{status}}"
	aria-live="polite"
>
	<!-- Empty `<span>` element for message icon. -->
	<span class="cdx-message__icon"></span>
	<!-- `<div>` element for content. -->
	<div class="cdx-message__content">{{message}}</div>
</div>
