<!-- Wrapper div. -->
<div class="cdx-tabs">
	<!-- Header with tab buttons -->
	<form class="cdx-tabs__header" action="{{url}}" method="get">
		<!-- List of tabs. -->
		<div class="cdx-tabs__list" tabindex="-1" role="tablist">
			{{#tabs}}
				{{>TabButton}}
			{{/tabs}}
		</div>
	</form>
	<!-- Tabs. -->
	<div class="cdx-tabs__content">
		{{#tabs}}
			{{>Tab}}
		{{/tabs}}
	</div>
</div>
